.navigation {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 12px;
    border: 1px solid rgb(39, 39, 42);
    border-radius: 8px;
    background-color: #09090B99;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, .4);
    backdrop-filter: blur(8px);
    z-index: 999;
}

.list {
    display: flex;
    align-items: center;
    column-gap: 24px;
    list-style: none;
}

.listItem {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: underline;
    transition: text-decoration-color 0.2s ease;
    text-decoration-color: transparent;

    &:hover {
        text-decoration-color: inherit;
    }
}

.profile {
    display: flex;
    align-items: center;
    column-gap: 8px;

    & img {
        border-radius: 40px;
    }

    @media screen and (max-width: 450px) {
        & span {
            display: none;
        }
    }
}

.active {
    text-decoration-color: inherit;
}