.roomsGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;

    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (max-width: 780px) {
        grid-template-columns: minmax(0, 1fr);
    }
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 16px;
    border: 1px solid rgb(39, 39, 42);
    border-radius: 16px;
}

.imageContainer {
    border-radius: 12px;
    font-size: 0;
    overflow: hidden;

    & img {
        max-width: 100%;
        object-fit: cover;
        aspect-ratio: 6/4;
    }
}

.cardContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1rem;

    & h2 {
        margin-bottom: 16px;
        font-size: 1.25rem;
    }

    & p {
        margin-bottom: 16px;
        color: #A1A1AA;
    }
}


.cardInfo {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-bottom: 8px;

    & svg {
        width: 24px;
    }

    &:first-of-type {
        margin-top: auto;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    margin-block: 40px;

    & button {
        padding: 12px;
        border: 1px solid rgb(39, 39, 42);
        border-radius: 6px;
        background: none;
        font-size: 0;
        cursor: pointer;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    & svg {
        width: 24px;
    }
}

.filterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.filterWrapper {
    position: relative;

    &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23ededed' fill-rule='evenodd' d='M15 10.5A3.502 3.502 0 0 0 18.355 8H21a1 1 0 1 0 0-2h-2.645a3.502 3.502 0 0 0-6.71 0H3a1 1 0 0 0 0 2h8.645A3.502 3.502 0 0 0 15 10.5zM3 16a1 1 0 1 0 0 2h2.145a3.502 3.502 0 0 0 6.71 0H21a1 1 0 1 0 0-2h-9.145a3.502 3.502 0 0 0-6.71 0H3z' clip-rule='evenodd'/%3E%3C/svg%3E");
        position: absolute;
        top: 50%;
        left: 8px;
        width: 18px;
        font-size: 0;
        transform: translateY(-50%);
        pointer-events: none;
    }
}

.filter {
    padding: 12px 16px 12px 40px;
    border: 1px solid rgb(39, 39, 42);
    border-radius: 6px;
    background: none;
    font-size: 16px;
    cursor: pointer;
}

.loader {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 48px;
    height: 48px;
    margin-inline: auto;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}